.AppBar{
    color: "#282c34" !important;
    height: '10vh';
}

.header{
    align-items: center;
}

.css-b1umqi-MuiPaper-root-MuiAppBar-root {
    background-color:#212121 !important;
    color: #7FC7AD !important;
    justify-content: center !important;
    height: 10vh !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
    border-color: #B8E0D2 !important;
    color: #B8E0D2 !important;
}

.css-be7s7w-MuiButtonBase-root-MuiButton-root {
    color: #7FC7AD !important;
    border-color: #7FC7AD !important;
    margin-left: 10px !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0rem !important;
}

.css-tzssek-MuiSvgIcon-root{
    color: #7FC7AD !important;
}

.css-17b1vef-MuiButtonBase-root-MuiButton-root{
    font-weight: 800!important;
}