.MuiFormHelperText-root {
    color : red !important;
}
.centerElement{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ButtonStyle{
    display: flex;
    color: #212121 !important;
    background-color: #B8E0D2 !important;
    height: 40px;
    text-decoration: none;
    align-items: center !important;
    justify-content: center !important;
    padding: 10px 120px !important;
    position: relative !important;
    display: inline-block !important;
    text-transform: uppercase !important;
}
.ButtonStyle2{
    color: #212121 !important;
    border-color: #B8E0D2 !important;
}
.css-1hvfsrb-MuiButtonBase-root-MuiButton-root{
    margin-left: 0% !important;
}
.css-be7s7w-MuiButtonBase-root-MuiButton-root{
    margin-left: 0% !important;
}
.Buttons{
    margin-left: 0% !important;
    align-items: center !important;
    justify-content: center !important;
}
.divSignUp{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
.aSignUp{
    text-decoration: underline !important;
    color: #212121 !important;
}
.aSignUp:hover{
    color: #B8E0D2 !important;
}