.productPageAll{
    background-color: rgb(182, 182, 182);
    height: 100%;
}

.productPageGallaryContainer{
    width: 100%;
    min-height: 10rem;
    background-color: rgb(136, 255, 112);
    border-radius: 8px;
}

.productPagePriceContainer{
    padding-top: 0.5rem;
    padding-left: 1rem;
    width: 100%;
    min-height: 10rem !important;
    background-color: rgb(136, 255, 112);
    border-radius: 8px;

}


.productPageBuyContainer{
    width: 100%;
    min-height: 10rem !important;
    background-color: rgb(136, 255, 112);
    border-radius: 8px;

}


.productPlantsPageWholeContainer{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    

}


.productPageTitle{
    color: black;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

.productPagePararaph{
    color: black;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.productPagePrice{
    color: rgb(1, 24, 0);
    font-size: 20px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.productPagePay{
    display: inline-flex !important;
}

.productPageButton{
    background-color: green;
    font-size: 25px;
    font-weight: bolder;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: black;
    width: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    border: 0ch none transparent;
    height: 2.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.productPageButton:hover{
    background-color: rgb(0, 75, 0);
    transition: 0.3s all ease-in-out;
}

.productPageButton:active{
    background-color: rgb(0, 32, 0);
}

.productPageNums{
    font-size: 18px;
    font-weight: bolder;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 2px;
    border: 1px solid black;
    height: 2.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.productPagePayButton{
    background-color: green;
    font-size: 25px;
    font-weight: bolder;
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
    justify-items: center !important;
    text-align: center !important;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    border: 0ch none transparent;
    height: 2.5rem;
    width: 90%;
    margin-right: 3rem;
}

.productPagePayButton:hover{
    background-color: rgb(0, 75, 0);
    transition: 0.3s all ease-in-out;
}

.productPagePayButton:active{
    background-color: rgb(0, 32, 0);
}