.ProductPage{
    background-color: rgb(230, 227, 227);
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ProductPageProductContainer{
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
    min-height: 30rem;
    border-radius: 15px;
}


.ProductPageImageContainer{
    background-color: rgb(243, 241, 241);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.ProductPageBuyContainer{
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    min-height: 1rem;
    
}

.ProductPageImage{
    object-fit: fit;
    height: 400px;
    width: 400px;
}

.ProductPageTitle{
    font-size: 18px;
    font-weight: bolder;
}

.ProductPageText{
    font-size: 16px;
}


.ProductPageCounter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductPageCounterMin{
    border: 1px solid rgb(153, 153, 153);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductPageCounterMin:hover{
    background-color: rgb(206, 206, 206);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductPageCounterMin:active{
    background-color: rgb(146, 146, 146);
    transition: all 0.3s ease-in-out;
}

.ProductPageCounterPlu{
    border: 1px solid rgb(153, 153, 153);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 1.5rem;
}

.ProductPageCounterPlu:hover{
    background-color: rgb(206, 206, 206);
    transition: all 0.3s ease-in-out;
}

.ProductPageCounterPlu:active{
    background-color: rgb(146, 146, 146);
    transition: all 0.3s ease-in-out;
}
.ProductPageCounterNum{
    border: 1px solid rgb(153, 153, 153);
    width: 1.5rem;
    text-align: center;
    text-justify:auto;
}



