.navbar {
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
  }
  .navbar .Searchicon{
    color: #069c5e;
  }
  .css-1hvfsrb-MuiButtonBase-root-MuiButton-root{
    margin-left: 5% !important;
  }
  .navbar h1 {
    display: flex;
    padding-left: 1rem;
    color: #069c5e;
    justify-content:left;
  }
  
  .navbar .links {
    color: black;
    align-items: center;
    justify-content: center;
  }
  .navbar .buttons {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-right: 1rem;
  }
  .navbar .searchBox {
    align-items: center;
    justify-content:flex-end;
    padding-right: 1rem;
  }
  .navbar .links a {
    color: black;
    margin-left: 16px;
    margin-top: 1%;
    text-decoration: none;
    padding: 6px;
    font-weight: bolder;
  }
  .navbar .links a:hover {
    color: #39c785;
  }
.navbar .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.signUpButtons{
  margin: 0.5rem;
}

@media screen and (max-width: 600px) {
  .navbar .links {
    flex-direction: column;
  }
  .navbar h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .searchBox {
    justify-content: center;
    align-items: center;
}
  .navbar .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
  }
}