.navbar {
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
  }
  .navbar .Searchicon{
    color: #069c5e;
  }
  .navbar h1 {
    padding-left: 1rem;
    color: #069c5e;
    display: flex;
  }
  
  .navbar .links {
    display: flex;
    color: black;
    align-items: center;
    justify-content: flex-start;
  }
  .navbar .buttons {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-right: 1rem;
  }
  .navbar .searchBox {
    align-items: center;
    justify-content:flex-end;
    padding-right: 1rem;
  }
  .navbar a {
    color: black;
    margin-left: 16px;
    margin-top: 1%;
    text-decoration: none;
    padding: 6px;
    font-weight: bolder;
  }
  .navbar .links a:hover {
    color: #39c785;
  }
  .navbar .buttons a:hover {
    color: #069c5e;
    background-color: white;
    border-color: #069c5e;
    border-width: 6px;
  }
.navbar .buttons a{
    color: rgb(255, 255, 255); 
    background-color: #069c5e;
    border-radius: 7px;
}
@media screen and (max-width: 600px) {
  .navbar .links {
    flex-direction: column;
  }
  .navbar h1{
    justify-content: center;
    align-items: center;
  }
  .navbar .searchBox {
    justify-content: center;
    align-items: center;
}
  .navbar .buttons {
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
  }
}