.productIconImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  z-index: -3;
}

.productIconImageContainer {
  z-index: -1;
}

.FontRight h4 {
  font-family: Quicksand !important;
  font-size: 1.3rem !important;
  line-height: 1.5 !important;
  padding-top: 4px;
  padding-bottom: 8px;
}

.Message {
  font-family: Quicksand !important;
}

.descriptionText {
  font-family: Quicksand !important;
  font-weight: 400 !important;
  padding-bottom: 16px;
  word-break: break-all;
}

.FabColor {
  color: white !important;
}

.layer {
  z-index: 2;
}
