.productIconImageContainer {
  width: 100%;
  height: 15rem;
}
.toolIconImage {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.textClass {
  word-wrap: break-word;
}

.toolIcon {
  color: rgb(196, 196, 196);
}
.Message {
  font-family: 'Quicksand';
  color: black;
  padding-right: 10px !important;
}
