.productIconName {
  display: flex;
  font-size: 17px;
  font-weight: bolder;
  color: black;
  margin-top: 0.5rem;
  font-family: 'Quicksand';
  text-decoration: none;
  height: 1rem;
}

.productIconLink {
  width: 4rem;
}

.productIconPrice {
  display: flex;
  font-size: 16px;
  color: black;
  height: 1rem;
  margin-bottom: 0.5rem;
}

.featButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Message {
  text-decoration: none;
  font-family: 'Quicksand';
  color: black;
  padding-right: 3px;
}

.Message:hover {
  color: black;
}

.waterButton {
  border-left: 1px solid rgb(226, 226, 226);
  color: #b8e8ee;
}

.growButton {
  border-left: 1px solid rgb(226, 226, 226);
  color: #69ec86;
}

.lightButton {
  color: #fced1d;
  padding-right: 3px;
}

.productIconImageContainer {
  width: 100%;
  height: 15rem;
}

.productIconImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.container {
  position: relative;
  width: 50%;
}

.overlay {
  margin-top: 7px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
}

.container:hover .overlay {
  opacity: 0.7;
}

.text {
  font-family: 'Quicksand';
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 1113px) {
  .Message {
    font-size: smaller;
  }
}

@media screen and (min-width: 600px) and (max-width: 696px) {
  .Message {
    font-size: x-small;
  }
}

@media screen and (max-width: 599px) {
  .Message {
    font-size: small;
  }
}
